/* Universal selector for box-sizing and zeroing margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared properties for header and hero containers */
.header-container, .hero-container {
    background-color: #1f2937;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 100px;

}

/* Specific styling for header-container */
.header-container {
    display: flex;
    justify-content: center;
    
}

/* Flex layout for header and central alignment */
.header {
    font-size: 24px;
    width: 100%; 
    /* 100% makes header responsive amd span the fuill width of container*/
    display: flex;
    justify-content: space-between;

}

/* Flex alignment for logo */
.logo {
    display: flex;
    justify-content: flex-start;
}

/* Margin adjustment for links */
.link-one {
    margin-left: auto;
     /* Pushes link-one to the far right */
}

.link-two,
.link-three {
    margin-left: 20px;
    /* Spacing between link-two and link-three */
}

/* Styling for hero section */
.hero-text {
    font-size: 48px;
    font-weight: bolder;
}

/* Shared styles for text elements */
.hero-subtext, 
.link-one, 
.link-two, 
.link-three {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    width:max-content; 
    padding: 6px 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Changes cursor to pointer to indicate it's clickable */

}

.hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
}

.hero-info {
    display: flex;
    flex-direction: column;
    /* arranges items vertically withim info container */
    padding-right: 50px;
    gap: 10px; /* Space between items in the column */
    flex: 1; /* Allows flex items to grow and fill available space */
}

.hero-img {
    display: flex;
    
}